<h3>投稿一覧</h3>
<% @tweets.each do |tweet| %>
  <div class="post">
    <div class="title"><a href="/tweets/detail/<% tweet.id %>%" style="color:black;"><% tweet.title %>投稿記事</a></div>
    <div class="username">投稿者：<%= @user_name[tweet.user_id] %></div>
  </div>
<% end %>